@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

body {
  background-color: #383d41;
  background-image: linear-gradient(
      30deg,
      #166945 12%,
      transparent 12.5%,
      transparent 87%,
      #166945 87.5%,
      #166945
    ),
    linear-gradient(
      150deg,
      #166945 12%,
      transparent 12.5%,
      transparent 87%,
      #166945 87.5%,
      #166945
    ),
    linear-gradient(
      30deg,
      #166945 12%,
      transparent 12.5%,
      transparent 87%,
      #166945 87.5%,
      #166945
    ),
    linear-gradient(
      150deg,
      #166945 12%,
      transparent 12.5%,
      transparent 87%,
      #166945 87.5%,
      #166945
    ),
    linear-gradient(
      60deg,
      #16694577 25%,
      transparent 25.5%,
      transparent 75%,
      #16694577 75%,
      #16694577
    ),
    linear-gradient(
      60deg,
      #16694577 25%,
      transparent 25.5%,
      transparent 75%,
      #16694577 75%,
      #16694577
    );
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

/*--------------------------------------------Colors*/

.ui-menu-color-home {
  background-color: rgb(9 7 58);
}

.ui-menu-color-resume {
  background-color: #720909;
}

.ui-menu-color-contact {
  background-color: #084f19;
}

.ui-menu-color-github {
  background-color: #000000;
}

.ui-menu-color-download {
  background-color: #362449;
}

/*--------------------------------------------Heading*/

header {
  margin: 0;
}

.heading {
  margin-left: 50px;
}

.name {
  font-family: "Exo", sans-serif;
  font-weight: 600;
  font-size: 5rem;
  margin-top: 50px;
  color: #ffffff;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 90px;
  color: #ffffff;
}

#intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.language-btn {
  text-align: right;
  padding: 20px;
}

.language-btn button.active {
  border: 2px solid #ffffff;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
  transform: scale(1.05);
}

.eng {
  background: url(../images/gb-icon.png) no-repeat center center/cover;
  width: 50px;
  height: 30px;
  border: none;
}

.ita {
  background: url(../images/it-icon.png) no-repeat center center/cover;
  width: 50px;
  height: 30px;
  border: none;
}

.eng:hover, .ita:hover {
  cursor: pointer;
  border: none;
}

.quote {
  color: #fff;
  padding: 50px;
  margin-bottom: 30px;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.quote h2 {
  font-size: 2rem;
}

.list-inline-item:not(:last-child) {
  margin: 0;
}

.menucontainer {
  font-size: 0;
}

#nav li {
  width: 20%;
  font-size: 14px;
  padding: 0;
}

#nav {
  margin: 0;
}

.menuitem {
  height: 120px;
  text-align: center;
  padding: 0;
}

.menuitem a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  height: 120px;
}

.menuitem a i {
  padding-top: 22px;
  display: block;
  color: #fafafa;
  font-size: 26px;
}

.menuitem span {
  display: block;
  width: 100%;
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
}

.homepage {
  color: #fff;
}

.homepage h3 {
  font-size: 2rem;
  padding: 50px 10px 10px;
}

.homepage p {
  font-size: 1.5rem;
}

.home-intro, .home-intro2 {
  padding: 10px 50px 10px 50px;
}

.home-intro h2 {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  padding-top: 50px;
}

.home-intro p {
  padding-top: 10px;
}

.home-intro2 h2 {
  font-size: 4rem;
  padding-top: 30px;
}

.home-intro2 p {
  padding-left: 60px;
}

.home-intro a {
  color: #fff;
}

/*--------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
  background: rgba(0, 0, 0, 0.2);
  height: 120px;
}

div#map {
  min-height: 360px;
}

/*Contact Page*/

#contact-form {
  padding: 30px 300px;
}

#contact-form-button {
  padding: 30px;
}

#contact-form-button button {
  background-color: #495057;
  border-color: #161414;
}

.project-title {
  color: #fff;
  padding: 10px;
}

.contacts {
  color: #fafafa;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 20px;
}

.contacts h5 {
  font-size: 2rem;
}

/*About Me Page */

#about {
  padding: 30px;
  color: #fff;
}

#about h3 {
  font-size: 1.5 rem;
}

#about h4 {
  font-size: 1.2rem;
}

.progress-type {
  color: #000000;
  padding-left: 10px;
}
